{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": true,
  "tailwindStylesheet": "src/app/globals.css",
  "tailwindPreserveWhitespace": true,
  "tailwindFunctions": ["clsx"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
